@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:wght@400;700&display=swap');


html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}



/* ************************ HEADER ************************** */

header {

    background-image:linear-gradient(to top, #000, #0002), url(./img/header-tatouage-mannequin-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 50px;
  
}

 nav {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

 .navItems .navLink {

    font-family: 'Roboto','Arial', sans-serif;
}

h1 {
    font-family: 'Libre Baskerville','Arial', serif;
    font-size: 4.5em;
    color: #beaa73;
    padding: 500px 0 0 25%;
    animation-name: title;
    animation-duration: 3.5s;

}

@keyframes title {

    from {

        opacity: 0;
        transform: translateY(180px);

    }

    to {

        opacity: 1;
        transform: translateY(0px);
    }

}

/* ************************ MAIN ************************** */

#leftPart {

    display: flex;
    align-items: center;
    padding: 0 60px 0 0;
}

.titleHistory{

    font-family: 'Libre Baskerville','Arial', serif;
    font-size: 3em;
    padding-bottom: 35px;

}

p {

   font-family: 'Roboto','Arial', sans-serif;
   text-align:left; 
   line-height: 1.5em;
}

.history .buttonHistory {

    text-align: right;
    margin: 30px 3% 0 0;


}

.btn.history {

    background-color: #beaa73;
    font-family: 'Roboto','Arial', sans-serif;
    color: #fff; 
}

.section-1-gallery {

    padding-top: 108px;
    padding-bottom: 130px;

}
.section-1-gallery .titleGallery {

    padding-bottom: 50px;
}


.elementGallery .tattooGallery {

text-align: center;

}

