/* *****************général*********************** */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
}

*,
::after,
::before {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}



/* ************************ HEADER ************************** */

header {

    background-image: linear-gradient(to bottom, rgb(12, 12, 12, 0.85), rgba(10, 10, 10, 0.45)), url(./img/header-tatouage-mannequin-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 100px;

}

nav {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;


}

nav .navLink {

    margin-top: 12px;
    margin-left: 300px;
}

.navItems .navLink {

    font-family: 'Roboto', 'Arial', sans-serif;
}

.navLink a {

    text-decoration: none;
    color: #fff;
    margin-right: 60px;
    border-bottom: 2px solid #beaa73;
    padding-bottom: 5px;
}

.titleTattoo {
    font-family: 'Libre Baskerville', 'Arial', serif;
    font-size: 2.2em;
    text-transform: uppercase;
    color: #beaa73;
    padding: 290px 0 0 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: title;
    animation-duration: 3.5s;

}

h2 {

    color: #beaa73;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
}

h2 .service {

    color: #fff;
}

.titleTattoo .btn {

    padding: 50px 0px 0px;
    color: #fff;

}

@keyframes title {

    from {

        opacity: 0;
        transform: translateY(180px);

    }

    to {

        opacity: 1;
        transform: translateY(0px);
    }

}

@media screen and (max-width: 1198px) {

    nav {

        padding: 0px 14px 0;
    }

    .titleTattoo {

        font-size: 1.9em;
        padding: 290px 0 0 9%;
    }

}

@media screen and (max-width:880px) {

    nav {

        display: flex;
        flex-direction: column;
        padding: 0;

    }

    nav .navLink {
        margin-top: 12px;
        margin-left: 73px;

    }

    .titleTattoo {

        font-size: 1.5em;


    }
}


/* ************************ MAIN ************************** */


/* ************************ SECTION HISTORY ************************** */


.history {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.picture-buttonHistory {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph-history {

    text-align: justify;
    max-width: 804px;
    padding: 50px;
}

.titleHistory {

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 2.7em;
    padding-bottom: 100px;

}

.paragraph-history p {

    font-size: 20px;
    line-height: 1.5;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.btn.history {

    margin-top: 40px;
    padding: 16px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    border: 2px solid #beaa73;
    background-color: #fff;
    transition-duration: 0.5s;
}

.btn.history:hover {

    color: #fff;
    background-color: #beaa73;
}

/* ************************ SECTION GALLERY ************************** */


.gallery {

    display: grid;
    grid-template-columns: repeat(3, 2fr); 
    gap: 10px;
}
.small1,.large1 {

    text-align: center;
}

.small,.large {

    display: flex;
    justify-content: center;
    align-items: end;
    
}









/* .titleHistory {

    font-family: 'Libre Baskerville', 'Arial', serif;
    font-size: 3em;
    padding-bottom: 35px;

}

p {

    font-family: 'Roboto', 'Arial', sans-serif;
    text-align: left;
    line-height: 1.5em;
}

.history .buttonHistory {

    text-align: right;
    margin: 30px 3% 0 0;


}

.btn.history {

    background-color: #beaa73;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #fff;
}

.section-1-gallery {

    padding-top: 108px;
    padding-bottom: 130px;

}

.section-1-gallery .titleGallery {

    padding-bottom: 50px;
}


.elementGallery .tattooGallery {

    text-align: center;

} */