/* *****************général*********************** */

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:wght@400;700&display=swap");

html {
    scroll-behavior: smooth;
}

/* ************************ RESET ************************** */
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ************************ HEADER ************************** */

header {
    background-image: linear-gradient(to bottom,
            rgb(12, 12, 12, 0.85),
            rgba(10, 10, 10, 0.45)),
        url(./img/header-tatouage-mannequin-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 100px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
}

nav .navLink {
    margin-top: 12px;
    margin-left: 300px;
}

.navItems .navLink {
    font-family: "Roboto", "Arial", sans-serif;
}

.navLink .home {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-right: 60px;
    border-bottom: 2px solid #beaa73;
    padding-bottom: 5px;
}

.navLink .menu {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-right: 60px;
    transition: 0.5s;
}

.menu:hover {
    border-bottom: 2px solid #beaa73;
    padding-bottom: 5px;
}

.titleTattoo {
    font-family: "Libre Baskerville", "Arial", serif;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #beaa73;
    padding: 290px 0 0 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: title;
    animation-duration: 3.5s;
}

h2 {
    color: #beaa73;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

h2 .service {
    color: #fff;
}

.titleTattoo .btn {
    padding: 50px 0px 0px;
    color: #fff;
}

@keyframes title {
    from {
        opacity: 0;
        transform: translateY(180px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1198px) {
    nav {
        padding: 0px 14px 0;
    }

    .titleTattoo {
        font-size: 1.9rem;
        padding: 290px 0 0 9%;
    }
}

@media screen and (max-width: 880px) {
    nav {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    nav .navLink {
        margin-top: 12px;
        margin-left: 73px;
    }

    .titleTattoo {
        font-size: 1.5rem;
    }
}

/* ************************ MAIN ************************** */

/* ************************ SECTION HISTORY ************************** */

.history {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-bottom: 100px;
    padding: 10px;
}

.picture-buttonHistory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mannequin1Img {
    width: 100%;
    height: auto;
}

.paragraph-history {
    text-align: justify;
    max-width: 804px;
    padding: 50px;
}

.titleHistory,
.title-gallery {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 2.7rem;
    padding-bottom: 100px;
}

.paragraph-history p {
    font-size: 20px;
    line-height: 1.5;
    font-family: "Roboto", "Arial", sans-serif;
}

.btn.history,
.book-now {
    margin-top: 40px;
    padding: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    border: 2px solid #fea459;
    background-color: #fff;
    transition-duration: 0.5s;
}

.btn.history:hover,
.book-now:hover {
    color: #fff;
    background-color: #fea459;
}

@media screen and (max-width: 1140px) {
    .history {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100 px;
    }
}

/* ************************ SECTION GALLERY ************************** */

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 10px;
}

.container .galleryImg {
    width: 100%;
    height: auto;
}

.container .galleryImgLarge {
    width: 100%;
}

.small2 {
    grid-column: 1;
    align-self: end;
}

.small3 {
    grid-row: 2;
}

.small4 {
    grid-column: 3;
    grid-row: 2;
}

.small5 {
    grid-column: 3;
    align-self: end;
}

.large2 {
    grid-column: 2;
    grid-row: 3;
}

.small3,
.small4,
.small1,
.large1,
.large2,
.small2,
.small5 {
    justify-self: center;
}

@media screen and (max-width: 982px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .small3,
    .small2,
    .small1 {
        grid-column: 2;
    }

    .large2 {
        grid-column: 2;
        grid-row: 1;
    }

    .large1 {
        grid-row: 1;
        grid-column: 3;
    }

    .small6 {
        grid-column: 3;
    }

    @media screen and (max-width: 600px) {
        .container {
            display: flex;
            flex-direction: column;
        }
    }
}

/* ************************PARALLAX ************************** */


.parallaxTattoo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.bg1 {
    background-image: linear-gradient(70deg, rgba(10, 10, 10, 0.70), rgb(254, 164, 89, .45)), url(./img/parallaxTattoo.jpg);

}

.bg2 {
    background-image: linear-gradient(70deg, rgba(10, 10, 10, 0.70), rgb(254, 164, 89, .45)), url(./img/parallax-model.jpg);

}


.parallax_introScreen {

    margin-right: 90px;

}

.parallax_introScreen h3 {
    color: #fff;
    font-size: 2em;
}

.parallax_introScreen h3 .subtitleParrallax {
    color: #beaa73;
}

.parallax_form {
    border: 1px solid #fff;
    height: 58vh;
    width: 35%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 0px 72px 0px 72px;
    /* margin-left: 90px; */
    border-radius: 11px;

}

.paragraphForm {
    padding: 30px 0 0 0;
}

.box-form {
    width: 100%;
}

.formTattoo {
    display: grid;
    gap: 20px;
}

.titleForm p {
    padding: 22px 0 0 0;
}

.titleForm h3 {
    font-size: 1.8em;
    font-weight: 700;
    font-family: "Roboto", "Arial", sans-serif;
}

.input_tattoo {
    text-align: center;
}

input {
    height: 5vh;
    width: 42%;
    margin-right: 31px;
    padding: 0 0 0 10px;
}


@media screen and (max-width: 1598px) {

    .parallax_introScreen {
        margin-right: 0;
        text-align: center;

    }



    .parallax_form {


        width: 54%;
        padding: 0px 72px 0px 72px;
        border-radius: 11px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .formTattoo {
        gap: 6px;
    }
}

@media screen and (max-width: 1370px) {

    .parallaxTattoo {
        width: 100%;


    }
}

@media screen and (max-width: 1248px) {

    .parallaxTattoo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .parallax_form {

        height: 66vh;

    }

    input {

        width: 65%;

    }


}


@media screen and (max-width: 780px) {

    .parallaxTattoo {

        height: 100vh;

    }

    .parallax_form {
        width: 96%;
        height: 82vh;
    }

    input {

        width: 100%;


    }

}

.bg2 {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}



.parallax_introScreen2 {

    border: 1px solid #fff;
    padding: 52px 0 52px 0;
    width: 28%;
    text-align: center;

}

.parallax_introScreen2 h3 {

    color: #fff;
    font-size: 3em;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: normal;

}

.artists-1 {

    position: relative;
    text-align: center;
}

.artists-1 h4 {

    position: absolute;
    border: 1px solid #fff;
    width: 100%;
    height: 67px;
    background: #fff;
    padding: 15px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1.7em;

}